<section class="message">
  <h1 class="u-text-size-XL">メッセージ一覧</h1>
  <ul class="message__list">
  <% @conversations.each do |conversation| %>
    <% if conversation.target_user(current_user).present? %>
      <li>
        <%= profile_img(conversation.target_user(current_user)) %>
        <%= link_to conversation.target_user(current_user).name, conversation_messages_path(conversation)%>
      </li>
    <% end %>
  <% end %>
  </ul>
</section>