<% @users.each do |user| %>
  <% if user.id != current_user.id %>
    <div>
      <p><%= profile_img(user) %></p>
      <p><%= user.name %></p>
      <ul>
        <li>
          <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' %>
        </li>
        <li>
          <%= render partial: 'follow_form', locals: {user: user} if signed_in? %>
        </li>
      </ul>
    </div>
  <% end %>
<% end %>
