// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul{
  margin: 0;
  padding: 0;
}

li,ol{
  list-style: none;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}

*{
  margin: 0;
  padding: 0;
}

hr{
  border-color: #999;
}

.user-thumb{
  border-radius: 50%;
  width: 40px;
}

.header{
  background-color: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  border-bottom: 1px solid #133783;

  .user-thumb{
    width: 30px;
  }

  &__body{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 40px 15px;
    color: #fff;
    display: flex;
    align-items: center;

    a {
      color: #fff;
    }

    nav {
      margin-left: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      > *{
        margin-left: 10px;

        &:before{
          content: '|';
          display: inline-block;
          padding-right: 10px;
        }

        &:first-of-type{
          &:before{
            content: '';
          }
        }
      }
    }
  }
}

.contents{
  background: linear-gradient(white, #D3D8E8);

  &__body{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 40px;
  }
}

.footer{
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;

  > nav{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;

    > *{
      margin-left: 10px;
    }
  }
}